.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    z-index: 1;

    &__field {
        margin-bottom: 1rem;

        &-name {
            font-size: .7rem;
            font-style: italic;
            color: gray;
        }

        &-input {
            border: none;
            outline: none;
            height: 2rem;
            width: 100%;
            padding: .3rem .1rem;
            border-bottom: 1px solid lightblue;
            background-color: transparent;

            &:focus {
                border-bottom: 1px solid blue;
                box-shadow: 0 5px 3px -5px rgba(blue, .2);
            }

            &_error {
                border-bottom: 1px solid red !important;
                box-shadow: 0 5px 3px -5px rgba(red, .2) !important;
            }
        }

        &-errors {
            display: flex;
            flex-direction: column;
            font-size: .8rem;
            color: red;
            margin-top: .5rem;
        }
    }
}
