<ion-header>
    <ion-toolbar>
      <ion-title>
        Авторизация
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="page" appBeautyCircle>
      <form novalidate [formGroup]="authForm" class="form">
        <div class="form__field">
            <ion-label class="form__field-name">Emaisrc/appl:</ion-label>
            <input type="text" formControlName="email" [class.form__field-input_error]="email.errors && (email.touched || email.dirty)" class="form__field-input">
            <div class="form__field-errors" *ngIf="email.errors && (email.touched || email.dirty)">
                <span class="item" *ngIf="email.errors['required']">Обязательное поле</span>
                <span class="item" *ngIf="email.errors['email']">Некорректный email</span>
                <span class="item" *ngIf="email.errors['minlength']">Минимальная длина {{ email.errors['minlength'].requiredLength }} символов</span>
                <span class="item" *ngIf="email.errors['maxlength']">Максимальная длина {{ email.errors['maxlength'].requiredLength }} символов</span>
            </div>
        </div>

        <div class="form__field">
            <ion-label class="form__field-name">Пароль:</ion-label>
            <input type="password" formControlName="password" class="form__field-input" [class.form__field-input_error]="password.errors && (password.touched || password.dirty)">
            <div class="form__field-errors" *ngIf="password.errors && (password.touched || password.dirty)">
                <span class="item" *ngIf="password.errors['required']">Обязательное поле</span>
                <span class="item" *ngIf="password.errors['minlength']">Минимальная длина {{ password.errors['minlength'].requiredLength }} символов</span>
                <span class="item" *ngIf="password.errors['maxlength']">Максимальная длина {{ password.errors['maxlength'].requiredLength }} символов</span>
            </div>
        </div>

        <ion-button (click)="login()">Вход</ion-button>

      </form>
    </div>
  </ion-content>
  