<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <ion-menu-button></ion-menu-button>
            Личный кабинет
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="page" appBeautyCircle>
        
    </div>
</ion-content>
