<ion-header>
    <ion-toolbar>
        <ion-title>
            Добавляем запись
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="task-modal">

        <div class="task-block">
            <span class="task-block__name">Название:</span>
            <input type="text" class="task-block__inp" [(ngModel)]="name">
        </div>

        <div class="task-block">
            <span class="task-block__name">Текст:</span>
            <textarea type="text" class="task-block__area" [(ngModel)]="text"></textarea>
        </div>

        <div class="task-block">
            <ion-item>
                <ion-label position="floating">Дата события:</ion-label>
                <ion-datetime
                    displayFormat="DD MMM YYYY HH:mm"
                    min="2019-03-14" max="2030-12-31" 
                    (ionChange)="onDateChange($event)" 
                    doneText="Готово"
                    monthShortNames="Янв, Фев, Мар, Апр, Май, Июнь, Июль, Авг, Сен, Окт, Ноя, Дек"
                ></ion-datetime>
            </ion-item>
        </div>


        <div class="task-block task-block_buttons">
            <ion-button (click)="createTask()" color="primary" size="large" fill="solid">
                <ion-icon slot="start" name="add"></ion-icon>
                Создать
            </ion-button>
            <ion-button (click)="closeModal()" color="warning" size="large" fill="solid">Отмена</ion-button>
        </div>


    </div>
</ion-content>