.task-modal {
    height: 100%;
    width: 100%;
    background: linear-gradient(0, lightblue, transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

.task-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;

    &_buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-size: .8rem;
        font-style: italic;
        color: gray;
        margin-bottom: 5px;
    }

    &__inp {
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
        height: 2.5rem;
        font-size: 2rem;
        background: transparent;
        outline: none;
    }

    &__area {
        width: 100%;
        border: 1px solid gray;
        background-color: rgb(217, 233, 238);
        outline: none;
        height: 9rem;
        resize: none;
        padding: 5px;
    }
}