.card {
    width: 90%;
    height: 4rem;
    background-color: lightsteelblue;
    z-index: 1;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.4);
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: center;

    &__info {
        display: flex;
        width: 70%;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        &-name {
            font-weight: bold;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 2rem;
                background: linear-gradient(to right, transparent, lightsteelblue);
            }
        }
    
        &-text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: .8rem;
            font-style: italic;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 2rem;
                background: linear-gradient(to right, transparent, lightsteelblue);
            }
        }
    }

    &__expired {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        align-items: center;
        justify-content: center;

        &-date {
            font-weight: bold;
            white-space: nowrap;
        }

        &-time {
            font-style: italic;
        }
    }


}