<ion-header>
  <ion-toolbar>
    <ion-buttons start>
        <ion-menu-button></ion-menu-button>
        Список моих задач
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page" appBeautyCircle>

    <div class="card">
      <div class="card__info">
          <div class="card__info-name">Какое-то имя у карточки есть</div>
          <div class="card__info-text">Ну а здесь длинный текст который говорит подробнее о карточке с задачей</div>
      </div>

      <div class="card__expired">
        <span class="card__expired-date">12 авг 2019</span>
        <span class="card__expired-time">21:10</span>
      </div>

    </div>
    

    <ion-fab (click)="showCreateTaskModal()"  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
</ion-content>